
<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <button class="btn btn-outline-success" type="button">
    <%= link_to 'All restaurants', restaurants_path %>
    </button>
   <button class="btn btn-outline-success" type="button">

    <%= link_to 'NEW restaurant', new_restaurant_path %>
    </button>
  </form>
</nav>
